<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/style.css') }}">

    </head>
    <body>
        {% include "Partials/header.html.twig" %}
        {% block body %}

        {% endblock %}




    <footer>

    </footer>
        {% block javascripts %}{% endblock %}
            {{ encore_entry_script_tags('script') }}
        {% endblock %}



    </body>
</html>
